body {
	text-align: center;	
	font-family: 'Roboto Slab', serif;;
	color: white;
	background-color: black;
}

.logo{
	width:55%;
}

.p {
	font-size: 36px;
}

.background textarea {
	font-size: 24px;
	font-family: helvetica;
	color: black;
	background-color: white;
	padding: 10px;
}

#button-submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 160px;
    height: 40px;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 15px 5px;
    cursor: pointer;
}

}

hr {
	background-color: white;
	text-align: center;
	color: white;
	height:.25px;
	
}

#horz {
	margin-left: 100px;
	margin-right: 100px;
}

.h1 {
	font-size: 66px;

}

h2 {
	font-size: 36px;
}

ul {
	padding-left: 0;
}

#blogPosts li {
	text-align: center;
	font-size: 28px;
	
}
